# Xcode

## Build generated
*.xcodeproj/GeneratedModuleMap/
build/
DerivedData
Mockingbird.pkg
Mockingbird.zip
MockingbirdCli.pkg
MockingbirdCli.zip
MockingbirdSupport.zip
mockingbird

## Mockingbird generated
MockingbirdMocks/*.generated.swift
*.xcodeproj/MockingbirdCache/*.lock

## Embedded resources
MockingbirdCli/Libraries/*.generated.swift

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata

## Scheme exclusion for Carthage
Mockingbird.xcodeproj/xcshareddata/xcschemes/*.xcscheme
!Mockingbird.xcodeproj/xcshareddata/xcschemes/MockingbirdFramework.xcscheme

## Other
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint

## Carthage
Carthage/Checkouts
Carthage/Build

## Swift Package Manager
Packages/
.build/
.swiftpm/

## macOS
.DS_Store
